@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Déplace le conteneur de la moitié de sa largeur (car le contenu est dupliqué) */
    transform: translateX(-50%);
  }
}

.scrolling-wrapper {
  display: flex;
  /* Forcer le conteneur à être aussi large que son contenu */
  width: max-content;
  /* Empêcher le retour à la ligne des éléments flex */
  flex-wrap: nowrap;
  /* Animation : nom, durée, vitesse, répétition */
  animation: scroll 15s linear infinite;
}

/* Le conteneur parent qui, au survol, met en pause l'animation du 'scrolling-wrapper' */
.scrolling-container:hover .scrolling-wrapper {
  animation-play-state: paused;
}